{% load static %}

<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'books/styles.css' %}">
    <style>
            body {
                background-image: url("{% static 'books/images/python_bg.jpg' %}");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
    </style>
</head>

{% block content %}
<h2>Вход</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}